html{
    color:rgb(202, 181, 253);
}
            BODY{
               background-color:#10141b;
background-image:url('C:\Users\pub-013\CS\diagonal-pattern.png');
	 Font-Family:Sans-Serif;

            }
            a{font-family: monospace;
            color:aliceblue;
            text-decoration: none;
        }
   
