html{
    color:rgb(202, 181, 253);
}
BODY{
    background-color:#10141b;
    background-image:url('C:\Users\pub-013\CS\diagonal-pattern.png');
	Font-Family:Sans-Serif;
    margin:0;
}
a{
    font-family: monospace;
    color:aliceblue;
    text-decoration: none;
}
li{
    color:rgb(247, 240, 255)
}

.HP{
    font-weight: bolder;
    color: rgb(255, 255, 255);
}
#header{
    background-image: url("https://media1.tenor.com/images/ad3a949146095222e79f8e81dd33a28e/tenor.gif?itemid=13986894");
    background-size: cover;
    height:50%;
    color: #ffffff;
    font-size: 2rem;
    display: flex;
    align-items:center;
    flex-direction: column;
    border-bottom: 5%;
}
.navbar{
    background-color: #020003;
    display: flex;
    justify-content: center;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 5em;
}
.nav-links li a{
    text-decoration: none;
    padding:0.5em 1.0em;
    border-radius:0.5em;
    transition: 0.3s;

}
.nav-links li a:hover{
    background-color:rgba(250, 250, 206, 0.575);
    border-radius:1em;
}
.title{
    text-align: center;
    padding: 1em;
}
.current{
    text-decoration: underline dotted rgba(250, 250, 206, 0.425) 0.1em;
}
#save-name{
    border-radius: 3em;

}
.accordion-header{
    width:100%;
    border:none;
    cursor: pointer;
    transition: 0.8;
    background-color: #bc7aff;
    text-align: left;
    font-size: 1.1rem;
    color:aliceblue;
    height: 7em;
    }
.accordion-content{
    display: none;
}
.accordion-header:hover{
    background-color:#bc7affa9;
 }
.hidden{
    display:none !important;
}

.blog-entry{
    display: flex;
    align-items: center;
    gap:2em;
    padding-left: 2%;
    margin-bottom: 1.7%;
}

.blog-entry img{
width:21%;
border-radius: 3em;
}
#enter-password{
    text-align: center;

}
#enter-password input {
    font-size: 1.5rem;
    border-radius: 0.5em;
    border:0;
    padding:0.2em;
    width:21%;
    background-color: #dabcf8;
}
#enter-password button{
    font-size: 1.3rem;
    padding:0.3em;
border-radius: 0.5em;
border:0;
background-color:rgb(241, 158, 49) ;
}
#password-field{
    display:flex;
justify-content: center;
gap: 0.7em;
}
